.settings {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    animation: spin 10s linear infinite;

    svg {
        stroke: $mainColor;
        fill: transparent;
        width: 40px;
        height: 40px;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}